{
  "dev": {
    "guild key": [
      { "id": "000000000000000000", "type": "user", "permission": true },
      { "name": "role name", "type": "role", "permission": true }
    ]
  },
  "normal": {}
}
